<!DOCTYPE html>
<html>
<head>
    <title> Member </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>{{ page_name }}</h1>
    </div>
    <div class="container">
        <h2>{{ username }} 恭喜您，成功登入系統</h2>
        <a href="/signout">
            <p>登出系統</p>
        </a>
    </div>
</body>
</html>
